@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{margin:0;padding:0;box-sizing:border-box;}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 100%;
    background: #23a6d5;
    min-width: 366px;
}



header {
    height: 35vh;
    display: grid;
    grid-template-columns: 2fr 4fr;
    background: #ffffff33;
}

main {
    text-align: center;
}
.menu-e-logo {
    display: flex;
    justify-content: end;
}
.menu-nav {
    display: inline-block;
    background: #3db868;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 2px 0 2px;
}
.menu-nav:hover {
    filter: brightness(0.9) drop-shadow(0px 0px 1px black);
}

.logo {
    width: 110px;
    padding: 12px;
    filter: brightness(5);
}

.animation {
    height: 100%;
    text-align: justify;
    color: #fff;
}

.cabecalho {
    height: 100%;
}


/* GALERIA */

.galeria {
    height: 100%;
    background: #ffff0033;
    padding: 15px;
}

.foto-galeria {
    width: 250px;
    padding: 3px;
    transition: .2s;
}

.foto-galeria:hover {
    filter: brightness(1.15);
    transform: scale(1.25);
}

.button-galeria {
    display: inline-block;
    background: orange;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-weight: 500;
    font-size: x-large;
    padding: 8px 22px;
    border-radius: 10px;
    border: 4px solid rgb(211, 137, 0);
    border-bottom: 4px solid rgb(100, 70, 13);
    border-right: 4px solid rgb(100, 70, 13);
}

.button-galeria:hover {
    filter: brightness(1.1);
}


/* FIM DA GALERIA */


.quem-somos {
    height: 100%;
    background: #ffffff33;
    padding: 15px;
}

.texto-quem-somos {
    margin: auto;
    text-align: justify;
}

.cursos {
    height: 100%;
    background: #ffff0033;
    padding: 15px;
}

.button-curso {
    width: 80px;
    margin: 5px;
    padding: 10px;
    background: gold;
    filter: drop-shadow(0 0 1px black);
    border-radius: 50%;
    transition: .2s;
}

.button-curso:hover {
    filter: brightness(1.12);
    transform: scale(1.15);
}

.apoie {
    height: 100%;
    background: #ffffff33;
    padding: 15px;
}

.button-apoie {
    display: inline-block;
    background: orange;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-weight: 700;
    font-size: xx-large;
    padding: 10px 30px;
    border-radius: 10px;
    border: 4px solid rgb(211, 137, 0);
    border-bottom: 4px solid rgb(100, 70, 13);
    border-right: 4px solid rgb(100, 70, 13);
}

.button-apoie:hover {
    filter: brightness(1.1);
}
.contato {
    background: #ffff0033;
    padding: 15px;
}

footer {
    height: 100%;
    background-color: transparent;
}




.div-matricula {
    background: #ffffff77;
    margin: auto;
    margin-top: 3vh;
    width: 400px;
    height: 350px;
    border-radius: 10px;
}