@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{margin:0;padding:0;box-sizing:border-box;}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 100%;
    min-width: 366px;

    background: #eee;
    color: #222;
}

.button-matricula {
    border: 4px solid orange;
    padding: 10px 22px;
    text-decoration: none;
    border-radius: 8px;
    color: #fff;
    position: relative;
    top: -40px;
  }
  
  .button-matricula:hover {
    filter: brightness(.95) drop-shadow(1px 1px 3px black);
  }

h1{
    padding-top: 15px;
    padding-bottom: 15px;
}

main {
    text-align: center;
}
.menu-e-logo {
    display: contents;
}

.logo {
    width: 110px;
    padding: 12px;
    filter: brightness(1);
}

.cabecalho {
    height: 100%;
}


/* APOIE */
.apoie {
    height: 100%;
    padding: 15px;
}

.button-apoie {
    display: inline-block;
    background: orange;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-weight: 700;
    font-size: xx-large;
    padding: 10px 30px;
    border-radius: 10px;
    border: 4px solid rgb(211, 137, 0);
    border-bottom: 4px solid rgb(100, 70, 13);
    border-right: 4px solid rgb(100, 70, 13);
}

.button-apoie:hover {
    filter: brightness(1.1);
}

/* CONTATO */
.contato {
    padding: 15px;
}

footer {
    height: 100%;
}




.div-matricula {
    margin: auto;
    margin-top: 3vh;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    background: #ffffff55;
}


/*  AJUSTES DE TELA  */
@media screen and (max-width: 720px) {


}




