.quem-somos {
    display: flex;
    flex-direction: column;
    background: url('/images/bg-quem-somos.png') no-repeat;
    background-size: cover;

    h1 {
        font-size: 50px;
        color: #fafafa55;
        text-align: left;
        margin-left: 120px;
    }

    div {
        width: 550px;
        background-color: #fafafa;
        margin-left: 100px;
        margin-bottom: 15px;
        p {
            color: #222;
            font-size: 18px;
            font-weight: 300;
            padding: 20px;
            padding-bottom: 0px;
            text-align: justify;
        }
    }
}

.texto-quem-somos {
    margin: auto;
    text-align: justify;
}

.logo-bg-quem-somos {
        background-color: green !important;
        position: relative;
        border-radius: 5px;
        width: 90px !important;
        height: 90px !important;
        transform: translateX(400px) translateY(50px);
        img {
            border-radius: 5px;
            padding: 6px;
            width: 80px !important;
            height: 80px !important;



            filter: brightness(5);
        }
}


@media screen and (max-width: 740px) {
    .quem-somos {
        width: 100%;
        padding: 20px;
        min-width: 400px;

        h1 {
            margin: auto;
        }

        div {
            width: 85%;
            margin: auto;
            margin-bottom: -20px;

            p {
                font-size: 14px;
            }
        }
    }
.logo-bg-quem-somos {
    visibility: hidden;
    opacity: 0;
    transform: translateX(0px) translateY(0px);
    }
}

